.headingMain {
  font-family: 'Kulim Park', sans-serif;  font-size: 2rem;
  line-height: 2.5rem;
}

.btnMain {
  background: rgba(93, 121, 82, 0.71);
  font-family: "K2D", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  transition: 0.5s;
}

.btnMain:hover {
  background: rgb(105, 138, 92);
  color: black;
}

.imgMain {
  object-fit: cover;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.imgBox {
  filter: blur(2px);
  width: 100%;
  height: 100%;
  transition: .5s;
}

.imgBox:hover{
    filter: blur(0px);
}


.imgBoxMain {
  width: 33%;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yearHeading {
  position: absolute;
  font-family: "K2D", sans-serif;
  font-weight: bold;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  z-index: 20;
  transition: 0.5;
}
